// $gold: #E9DDA1;
$gold: #EFE9CD;
$black: #3d3d3d;
$grey: #F0F0F0;
$white: #f7f7f7;

$ft-fam-head: 'Futura', sans-serif;
$ft-fam-sub: 'Oswald', sans-serif;
$ft-fam-body: 'Lato', sans-serif;

$ft-sz-xxsmall: 1.0rem;
$ft-sz-xsmall: 1.2rem;
$ft-sz-small: 1.4rem;
$ft-sz-base: 1.6rem;
$ft-sz-lg: 2.0rem;
$ft-sz-xlg: 2.4rem;
$ft-sz-xxlg: 3.6rem;

$ft-wt-xlight: 100;
$ft-wt-light: 300;
$ft-wt-base: 400;
$ft-wt-bold: 700;

@mixin ft-style($ft-fam, $ft-wt) {
	font-family: $ft-fam;
	font-weight: $ft-wt;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	@include ft-style($ft-fam-body, $ft-wt-light);
	color: $black;
	line-height: 1.8;
}

header a, h2 {
	@include ft-style($ft-fam-head, $ft-wt-light);
	text-transform: uppercase;
	text-decoration: none;
	color: $black;
}

h2 {
	font-size: $ft-sz-xlg;
	letter-spacing: 7px;
}

header h1 {
	font-size: $ft-sz-small;
}

nav a {
	@include ft-style($ft-fam-sub, $ft-wt-light);
	font-size: $ft-sz-xsmall;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	letter-spacing: 7px;
}

// ===========================
//	HOME SECTION
// ===========================

#home{
	h1, h2 {
		margin: 0;
		padding: 0;
	}

	h1 {
		@include ft-style($ft-fam-head, $ft-wt-light);
		font-size: $ft-sz-xxlg * 1.5;
		text-transform: uppercase;
		letter-spacing: 7px;
	}	

	h2 {
		font-size: $ft-sz-xxlg;
		color: $gold;
	}
}


// ===========================
//	ABOUT SECTION
// ===========================

.profileLinks a {
	@include ft-style($ft-fam-head, $ft-wt-light);
	font-size: $ft-sz-xsmall;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	color: lighten($black, 50%);
}


// ===========================
//	PORTFOLIO SECTION
// ===========================


.portfolioLink {
	@include ft-style($ft-fam-head, $ft-wt-light);
	font-size: $ft-sz-lg;
	letter-spacing: 7px;
	color: $gold;
	text-transform: uppercase;
	text-decoration: none;
}

figcaption {
	color: $white;

	h3 {
		@include ft-style($ft-fam-head, $ft-wt-light);
		text-transform: uppercase;
		color: $gold;
		letter-spacing: 4px;
		margin-top: 0;
	}
	
	p {
		font-size: $ft-sz-small;
		text-align: justify;
	}

	a {
		text-decoration: none;
		color: $white;
	}

	li {
		@include ft-style($ft-fam-head, $ft-wt-light);
		text-transform: uppercase;
		font-size: $ft-sz-xxsmall;
		letter-spacing: 2px;
	}
}

// ===========================
//	SKILLS SECTION
// ===========================

#skills {
	color: $grey;

	h3 {
		@include ft-style($ft-fam-head, $ft-wt-light);
		font-size: $ft-sz-base;
		text-transform: uppercase;
		letter-spacing: 4px;
		color: $gold;
	}

	p {
		@include ft-style($ft-fam-head, $ft-wt-light);
		font-size: $ft-sz-xxsmall;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

#contact {
	h2 {
		color: $gold;
	}
}

.contactInfo {
	@include ft-style($ft-fam-body, $ft-wt-light);
	letter-spacing: 2px;
	color: $white;

	h3 {
		@include ft-style($ft-fam-head, $ft-wt-light);
		letter-spacing: 4px;
		text-transform: uppercase;
		color: $gold;
	}
}

.contactInfoLinks {
	li {
		font-size: $ft-sz-xlg;
	}

	a {
		color: $gold;
		text-decoration: none;
		transition: all 0.3s;

		&:hover {
			color: darken($gold, 15%);
		}
	}
}

#contactForm {
	input, textarea {
		@include ft-style($ft-fam-body, $ft-wt-light);
		letter-spacing: 2px;
	}	

	textarea {
		line-height: 1.8;
	}

	input[type=submit] {
		@include ft-style($ft-fam-head, $ft-wt-light);
		text-transform: uppercase;
	}
}

