$gold: #E9DDA1;
$black: #3d3d3d;
$white: #f7f7f7;

$ft-fam-head: 'Futura', sans-serif;
$ft-fam-sub: 'Oswald', sans-serif;
$ft-fam-body: 'Lato', sans-serif;

$ft-sz-xxsmall: 1.0rem;
$ft-sz-xsmall: 1.2rem;
$ft-sz-small: 1.4rem;
$ft-sz-base: 1.6rem;
$ft-sz-lg: 2.0rem;
$ft-sz-xlg: 2.4rem;
$ft-sz-xxlg: 3.6rem;

$ft-wt-xlight: 100;
$ft-wt-light: 300;
$ft-wt-base: 400;
$ft-wt-bold: 700;

@mixin ft-style($ft-fam, $ft-wt) {
	font-family: $ft-fam;
	font-weight: $ft-wt;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	@include ft-style($ft-fam-body, $ft-wt-light);
	color: $white;
	line-height: 1.8;
}

h1 a, h2 {
	@include ft-style($ft-fam-head, $ft-wt-light);
	font-size: $ft-sz-small;
	text-transform: uppercase;
	text-decoration: none;
	color: $gold;
}

h2 {
	font-size: $ft-sz-xlg;
	letter-spacing: 7px;
	color: $white;
}

nav a {
	@include ft-style($ft-fam-sub, $ft-wt-light);
	font-size: $ft-sz-xsmall;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	letter-spacing: 7px;
}

.portfolioItem {
	h3 {
		@include ft-style($ft-fam-head, $ft-wt-light);
		font-size: $ft-sz-small;
		text-transform: uppercase;
		color: $gold;
		letter-spacing: 4px;
		margin-top: 0;
	}
	
	p {
		font-size: $ft-sz-xsmall;
		text-align: justify;
	}

	a {
		text-decoration: none;
		color: $gold;
	}

	li {
		@include ft-style($ft-fam-head, $ft-wt-light);
		text-transform: uppercase;
		font-size: $ft-sz-xxsmall;
		letter-spacing: 2px;
	}
}

