@import 'setup';
@import 'typog';
@import 'nav';

// ===========================
//	GENERAL
// ===========================

img {
	max-width: 100%;
	display: block;
}

body {
	background: linear-gradient(rgba(0,80,125,0.6), rgba(0,80,125,0.6)), url(/assets/img-bg.jpg) fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}

// ===========================
//	HEADER
// ===========================

header {
  position: fixed;
  width: 15%;
  height: 100%;
  padding: 20px;

  h1 {
  	padding: 0;
  	margin: 0;
  }
}


// ===========================
//	MAIN
// ===========================

main {
	width: 85%;
	margin-left: 15%;
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
	padding: 10px;
}

section {
	width: 100%;
	height: 100%;
}

#home {
	height: 100vh;
}


// ===========================
//	PORTFOLIO SECTION
// ===========================

.portfolioItem	{
	width: 100%;
	margin: 50px 0;
	display: flex;

	&:nth-child(2n) {
		.imgContainer {
			order: 2;
		}
	}

	.imgContainer {
		width: 55%;
		height: 250px;
		overflow: hidden;
	}

	figcaption {
		width: 45%;
		background: linear-gradient( rgba(61, 61, 61, 0.8), rgba(61, 61, 61, 0.8));
		// background: $black;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.skillList {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		margin-right: 15px;
	}
}

