@import 'setup';
@import 'typog';
@import 'nav';

// ===========================
//	GENERAL
// ===========================

img {
	max-width: 100%;
	display: block;
}

body {
	background: url(/assets/img-bg.jpg) fixed 50% 50% no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

// ===========================
//	HEADER
// ===========================

header {
  position: fixed;
  width: 10%;
  height: 100%;
  padding: 20px;
  z-index: 99;

  h1 {
  	padding: 0;
  	margin: 0;
  }

  a {
  	display: inline-block;
  }
}


// ===========================
//	MAIN
// ===========================

main {
	width: 100%;
	position: relative;
}

.wrapper {
	max-width: 980px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
}

section {
	width: 100%;
	height: 100%;
	padding: 50px 0;
}

#home {
	height: 100vh;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// ===========================
//	ABOUT SECTION
// ===========================

#about {
	height: 100%;
	background: $white;
}

.profileContainer {
	display: flex;
	align-items: center;

	.imgContainer {
		width: 35%;
		flex-shrink: 0;
	}

	.textContainer {
		padding-left: 50px;
		text-align: justify;
	}
}

.profileLinks {
	list-style: none;
	margin: 0;
	margin-top: 35px;
	padding: 0;

	li {
		float: left;
		margin-right: 50px;
	}
}


// ===========================
//	PORTFOLIO SECTION
// ===========================

#portfolio {
	background: $grey;
}

#geekseek {
	background: #A6C7BE;
}

#dimsumwhere {
	background: #EF4836;
}

#addendum {
	background: #6EB5C7;
}

#oak {
	background: #75CDB1;
}

.portfolioLink {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(61,61,61,0.3);
	opacity: 0;
	z-index: 10;
	transition: all 0.3s;
	order: 2;

	&:hover {
		opacity: 1;

		& ~ * {
			filter: blur(3px);
		}
	}
}

.portfolioItem	{
	position: relative;
	width: 100%;
	margin: 20px 0;
	display: flex;
	align-items: center;

	&:first-of-type {
		margin-top: 40px;
	}

	&:nth-of-type(2n) {
		.imgContainer {
			order: 2;
		}
	}

	.imgContainer {
		width: 45%;
		padding: 40px;
		transition: filter 0.3s;
	}

	figcaption {
		width: 55%;
		padding: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: filter 0.3s;

		p {
			margin: 20px 0;
		}
	}
}

.skillList {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		margin-right: 15px;
	}
}


// ===========================
//	SKILLS SECTION
// ===========================

.skillsContainer {

	& > * {
		margin-top: 50px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 50px;
		}
	}

	svg {
		width: 36px;
		height: 36px;
		path {
			fill: $grey;
		}
	}

	i {
		font-size: $ft-sz-xxlg;
	}
}


// ===========================
//	CONTACT SECTION
// ===========================

#contact {
	background: $black;
	min-height: 100vh;
	display: flex;
	align-items: center;

	.wrapper {
		padding-bottom: 50px;
	}
}

.contactInfoContainer {
	display: flex;
	width: 100%;
}

.contactInfo {
	width: 55%;
	padding-right: 50px;
}

.contactInfoLinks {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

	li {
		margin-right: 50px;
	}
}

#contactForm {
	width: 45%;

	input, textarea {
		outline: none;
		border: none;
		background: none;
		border-bottom: 2px solid $gold;
		border-radius: 0;
		padding: 10px;
		width: 100%;
		color: $white;

		&::placeholder {
			color: rgba(247,247,247,0.2);
		}
	}

	textarea {
		resize: none;
		min-height: 200px;
	}

	input[type=submit] {
		width: auto;
		color: $gold;
		border: none;
		border: 2px solid $gold;
		padding: 10px 40px;
		margin-top: 20px;
		float: right;
		transition: all 0.3s;

		&:hover {
			background: $gold;
			color: $black;
		}
	}
}

// ===========================
//	FOOTER SECTION
// ===========================

footer {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

// ===========================
//	MEDIA QUERY @ 1080
// ===========================

@media (max-width: 1080px) {
	.wrapper {
		padding: 20px 70px;
	}
}

// ===========================
//	MEDIA QUERY @ 768
// ===========================

@media (max-width: 768px) {

	body {
		background: $white;
	}

	#home, #skills {
		background: url(/assets/img-bg.jpg) 50% 50% no-repeat;
		background-size: cover;
	}

	#home {
		h1 {
			font-size: $ft-sz-xxlg;
		}
		h2 {
			font-size: $ft-sz-xlg;
		}
	}

	.profileContainer {
		.textContainer {
			padding-right: 0;
		}
	}

	.portfolioItem {
		flex-direction: column;
		padding: 50px;

		&:nth-of-type(2n) {
			.imgContainer {
				order: 0;
			}
		}

		.imgContainer {
			width: 100%;
			padding: 0;
		}

		figcaption {
			width: 100%;
			padding: 0;
			margin: 20px 0;
		}
	}

	.skillList {
		margin-top: 20px;
	}

	.portfolioLink {
		position: static;
		opacity: 1;
		background: none;
		border: 2px solid $gold;
		margin: 20px 0;
		width: 100%;

		p {
			margin: 0;
			padding: 0;	
		}

		&:hover ~ *{
			filter: none;
		}
	}

	.contactInfoContainer {
		flex-direction: column;

		& > * {
			width: 100%;
		}
	}

	.contactInfo {
		padding: 0;
	}

	#contactForm {
		width: 100%;
		margin-top: 20px;

		input[type=submit] {
			width: 100%;
		}
	}
	
}

// ===========================
//	MEDIA QUERY @ 600
// ===========================

@media (max-width: 600px) {

	header {
		width: 100%;
		height: 70px;
		background: $white;
	}

	nav {
		transform: rotate(0);
		top: 10px;
		right: 10px;
		left: inherit;
		bottom: inherit;
	}

	.wrapper {
		margin: 0;
		padding: 0;
		padding: 0 20px;
	}

	.profileContainer {
		flex-direction: column;

		.imgContainer {
			display: none;
		}

		.textContainer {
			width: 100%;
			padding: 0;
		}
	}

	.skillsContainer {
		& > * {
			margin-bottom: 0;
		}

		ul li {
			width: 33%;
			margin: 0;
			margin-bottom: 10px;
		}
	}

}

// ===========================
//	MEDIA QUERY @ 480
// ===========================

@media (max-width: 480px) {

	#home {
		h1 {
			font-size: $ft-sz-xxlg;
		}
		h2 {
			font-size: $ft-sz-base;
		}
	}

	.portfolioItem {
		padding: 50px 20px;
	}
}

// ===========================
//	MEDIA QUERY @ 320
// ===========================

@media (max-width: 320px) {

	#home {
		h1 {
			font-size: $ft-sz-xlg;
		}
		h2 {
			letter-spacing: 3px;
		}
	}
}