article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #3d3d3d;
  line-height: 1.8; }

header a, h2 {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #3d3d3d; }

h2 {
  font-size: 2.4rem;
  letter-spacing: 7px; }

header h1 {
  font-size: 1.4rem; }

nav a {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
  letter-spacing: 7px; }

#home h1, #home h2 {
  margin: 0;
  padding: 0; }

#home h1 {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  font-size: 5.4rem;
  text-transform: uppercase;
  letter-spacing: 7px; }

#home h2 {
  font-size: 3.6rem;
  color: #EFE9CD; }

.profileLinks a {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #bdbdbd; }

.portfolioLink {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 7px;
  color: #EFE9CD;
  text-transform: uppercase;
  text-decoration: none; }

figcaption {
  color: #f7f7f7; }
  figcaption h3 {
    font-family: "Futura", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #EFE9CD;
    letter-spacing: 4px;
    margin-top: 0; }
  figcaption p {
    font-size: 1.4rem;
    text-align: justify; }
  figcaption a {
    text-decoration: none;
    color: #f7f7f7; }
  figcaption li {
    font-family: "Futura", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px; }

#skills {
  color: #F0F0F0; }
  #skills h3 {
    font-family: "Futura", sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #EFE9CD; }
  #skills p {
    font-family: "Futura", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px; }

#contact h2 {
  color: #EFE9CD; }

.contactInfo {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f7f7f7; }
  .contactInfo h3 {
    font-family: "Futura", sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #EFE9CD; }

.contactInfoLinks li {
  font-size: 2.4rem; }

.contactInfoLinks a {
  color: #EFE9CD;
  text-decoration: none;
  transition: all 0.3s; }
  .contactInfoLinks a:hover {
    color: #dcd093; }

#contactForm input, #contactForm textarea {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px; }

#contactForm textarea {
  line-height: 1.8; }

#contactForm input[type=submit] {
  font-family: "Futura", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

nav {
  position: fixed;
  bottom: 5%;
  left: 60px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  clear: both; }

nav li {
  float: right;
  height: 50px; }
  nav li > * {
    display: inline-block; }
  nav li a {
    width: 100%;
    height: 100%;
    outline: none; }
    nav li a:hover span {
      opacity: 1; }

.icon {
  display: inline-block;
  margin-top: 23px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .icon span {
    content: '';
    display: block;
    background: #3d3d3d;
    width: 25px;
    height: 2px;
    opacity: 0.3; }

.text {
  float: right;
  max-width: 0;
  overflow-x: hidden; }
  .text p {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    opacity: 0;
    margin-top: 15px; }

.icon, .icon span, .text p {
  transition: all 0.3s; }

nav a.active {
  outline: none; }
  nav a.active .icon {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
    nav a.active .icon span {
      width: 40px;
      opacity: 1;
      background: #3d3d3d; }
  nav a.active .text {
    max-width: 4000px; }
    nav a.active .text p {
      opacity: 1;
      color: #3d3d3d; }
  nav a.active .icon, nav a.active .icon span, nav a.active .text p {
    transition: all 0.3s; }

img {
  max-width: 100%;
  display: block; }

body {
  background: url(/assets/img-bg.jpg) fixed center center;
  background-size: cover;
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 10%;
  height: 100%;
  padding: 20px;
  z-index: 99; }
  header h1 {
    padding: 0;
    margin: 0; }

main {
  width: 100%; }

.wrapper {
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 20px; }

section {
  width: 100%;
  height: 100%;
  padding: 50px 0; }

#home {
  height: 100vh; }
  #home .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

#about {
  height: 100%;
  background: #f7f7f7; }

.profileContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .profileContainer .imgContainer {
    width: 35%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .profileContainer .textContainer {
    padding: 50px;
    text-align: justify; }

.profileLinks {
  list-style: none;
  margin: 0;
  margin-top: 35px;
  padding: 0; }
  .profileLinks li {
    float: left;
    margin-right: 50px; }

#portfolio {
  background: #F0F0F0; }

#geekseek {
  background: #A6C7BE; }

#dimsumwhere {
  background: #EF4836; }

#addendum {
  background: #6EB5C7; }

#oak {
  background: #75CDB1; }

.portfolioLink {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(61, 61, 61, 0.3);
  opacity: 0;
  z-index: 10;
  transition: all 0.3s;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  .portfolioLink:hover {
    opacity: 1; }
    .portfolioLink:hover ~ * {
      -webkit-filter: blur(3px);
              filter: blur(3px); }

.portfolioItem {
  position: relative;
  width: 100%;
  margin: 20px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .portfolioItem:first-of-type {
    margin-top: 40px; }
  .portfolioItem:nth-of-type(2n) .imgContainer {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .portfolioItem .imgContainer {
    width: 45%;
    padding: 40px;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s; }
  .portfolioItem figcaption {
    width: 55%;
    padding: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    transition: -webkit-filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s; }

.skillList {
  list-style: none;
  margin: 0;
  padding: 0; }
  .skillList li {
    float: left;
    margin-right: 15px; }

.skillsContainer > * {
  margin-top: 50px; }

.skillsContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .skillsContainer ul li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 50px; }

.skillsContainer svg {
  width: 36px;
  height: 36px; }
  .skillsContainer svg path {
    fill: #F0F0F0; }

.skillsContainer i {
  font-size: 3.6rem; }

#contact {
  background: #3d3d3d;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contactInfoContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.contactInfo {
  width: 55%;
  padding-right: 50px; }

.contactInfoLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contactInfoLinks li {
    margin-right: 50px; }

#contactForm {
  width: 45%; }
  #contactForm input, #contactForm textarea {
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #EFE9CD;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    color: #f7f7f7; }
    #contactForm input::-webkit-input-placeholder, #contactForm textarea::-webkit-input-placeholder {
      color: rgba(247, 247, 247, 0.2); }
    #contactForm input::-moz-placeholder, #contactForm textarea::-moz-placeholder {
      color: rgba(247, 247, 247, 0.2); }
    #contactForm input:-ms-input-placeholder, #contactForm textarea:-ms-input-placeholder {
      color: rgba(247, 247, 247, 0.2); }
    #contactForm input::placeholder, #contactForm textarea::placeholder {
      color: rgba(247, 247, 247, 0.2); }
  #contactForm textarea {
    resize: none;
    min-height: 200px; }
  #contactForm input[type=submit] {
    width: auto;
    color: #EFE9CD;
    border: none;
    border: 2px solid #EFE9CD;
    padding: 10px 40px;
    margin-top: 20px;
    float: right;
    transition: all 0.3s; }
    #contactForm input[type=submit]:hover {
      background: #EFE9CD;
      color: #3d3d3d; }

@media (max-width: 1080px) {
  .wrapper {
    padding: 20px 70px; } }

@media (max-width: 768px) {
  .profileContainer .textContainer {
    padding-right: 0; }
  .portfolioItem {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px; }
    .portfolioItem:nth-of-type(2n) .imgContainer {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; }
    .portfolioItem .imgContainer {
      width: 100%;
      padding: 0; }
    .portfolioItem figcaption {
      width: 100%;
      padding: 0;
      margin: 20px 0; }
  .skillList {
    margin-top: 20px; }
  .portfolioLink {
    position: static;
    opacity: 1;
    background: none;
    border: 2px solid #EFE9CD;
    margin: 20px 0;
    width: 100%; }
    .portfolioLink p {
      margin: 0;
      padding: 0; }
    .portfolioLink:hover ~ * {
      -webkit-filter: none;
              filter: none; }
  .contactInfoContainer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contactInfoContainer > * {
      width: 100%; }
  .contactInfo {
    padding: 0; }
  #contactForm {
    width: 100%;
    margin-top: 20px; }
    #contactForm input[type=submit] {
      width: 100%; } }

@media (max-width: 600px) {
  .wrapper {
    margin: 0;
    padding: 0;
    padding: 0 20px; }
  .profileContainer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .profileContainer .imgContainer {
      display: none; }
    .profileContainer .textContainer {
      width: 100%;
      padding: 0; }
  .skillsContainer > * {
    margin-bottom: 0; }
  .skillsContainer ul li {
    width: 33%;
    margin: 0;
    margin-bottom: 10px; } }

@media (max-width: 480px) {
  .portfolioItem {
    padding: 50px 20px; } }

/*# sourceMappingURL=style.css.map */
